{{#section 'head'}}
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.31.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.31.0/mapbox-gl.css' rel='stylesheet' />
<style>
    html, body, #map { margin:0; padding:0; height:100%;}
</style>
{{/section}}
<div id="map"></div>
<script src='map.js'></script>
<script>
var accessToken = 'pk.eyJ1IjoieWluYXpodSIsImEiOiJjaXljbDM5ZjMwMTlvMnBwOTk5MnJtZzcyIn0.qy8pHJnT4fYeu1zGkYEclA';
App(accessToken);
</script>
